<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">p.s: i love me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sale" tabindex="-1" aria-disabled="true">SALE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us" tabindex="-1" aria-disabled="true">ABOUT US</a>
        </li>
      </ul>
      <%if(!user){%>
      <a href="/login" class="btn btn-secondary mx-1">Login</a href="/login">
      <a href="/register" class="btn btn-danger">Register</a href="/login">
      <%}
              else{%>
      <a href=""><%=user.username%></a>
      <form action="/logout" method="POST">
        <button class="btn btn-secondary mx-4" type="submit">Logout</button>
      </form>

      <%}%>
    </div>
  </nav>
  <div class="con">
    <div class="column active">
      <div class="content">
        <h1> 1 </h1>
        <div class="box">
          <h2>title</h2>
          <p>context context context context context
            context context context context</p>
        </div>
      </div>
      <div class="bg bg1"></div>
    </div>
    <div class="column active">
      <div class="content">
        <h1> 2 </h1>
        <div class="box">
          <h2>title</h2>
          <p>context context context context context
            context context context context</p>
        </div>
      </div>
      <div class="bg bg2"></div>
    </div>
    <div class="column active">
      <div class="content">
        <h1> 3 </h1>
        <div class="box">
          <h2>title</h2>
          <p>context context context context context
            context context context context</p>
        </div>
      </div>
      <div class="bg bg3"></div>
    </div>
    <div class="column active">
      <div class="content">
        <h1> 4 </h1>
        <div class="box">
          <h2>title</h2>
          <p>context context context context context
            context context context context</p>
        </div>
      </div>
      <div class="bg bg4"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script type="text/javascript">
    $(document).on('mouseover', '.con .column', function () {
      $(this).addClass('active').siblings().removeClass('active')
    })
  </script>
</body>

</html>