<!DOCTYPE html>
<html lang="en">

<head>
  <title>p.s: i love me</title>
  <link rel="stylesheet" href="../public/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">p.s: i love me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sale" tabindex="-1" aria-disabled="true">SALE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us" tabindex="-1" aria-disabled="true">ABOUT US</a>
        </li>
      </ul>
      <%if(!user){%>
      <a href="/login" class="btn btn-secondary mx-1">Login</a href="/login">
      <a href="/register" class="btn btn-danger">Register</a href="/login">
      <%}
            else{%>
      <a href=""><%=user.username%></a>
      <form action="/logout" method="POST">
        <button class="btn btn-secondary mx-4" type="submit">Logout</button>
      </form>

      <%}%>


        </div>
    </nav>

    <section class="content">

    </section>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 fix-bottom">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <h5 class="text-uppercase">Shop With Us</h5>
             
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Help & FAQs</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Online Ordering</a>
                </li>
                <li>
                  <a href="#!">International Shipping</a>
                </li>
                <li>
                  <a href="#!">Returns & Exchanges</a>
                </li>
                <li>
                  <a href="#!">Customer Service</a>
                </li>
                <li>
                  <a href="#!">Contact Us</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Account</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">My Account</a>
                </li>
                <li>
                  <a href="#!">Order Status</a>
                </li>
                <li>
                  <a href="#!">Rewards</a>
                </li>
                <li>
                  <a href="#!">Gift Cards</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
 
      </footer>
      <!-- Footer -->

</body>

</html>