<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">p.s: i love me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sale" tabindex="-1" aria-disabled="true">SALE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us" tabindex="-1" aria-disabled="true">ABOUT US</a>
        </li>
      </ul>
      <a href="/login" class="btn btn-secondary mx-1">Login</a href="/login">
    </div>
  </nav>

  <div class="container">
    <%if(success===false){%>
    <small class="text-danger"><%=message%></small>

    <%}%>
  <form method="POST" action="/register">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" type="email" class="form-control"  aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input name="username" type="text" class="form-control"  aria-describedby="emailHelp"
          placeholder="Enter username">

      </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control"  placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Confirm password</label>
        <input name="confirm_password" type="password" class="form-control"  placeholder="Confirm Password">
      </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
</body>

</html>